<div>
    <app-admin-navbar></app-admin-navbar>
    <div class="d-flex align-items-center">
        <div class="d-flex flex-row justify-content-between w-100 text-white">
            <div class="card bg-secondary">
                <div class="m-auto">Number of Categories: {{categorySize}}</div>
            </div>
            <div class="card bg-primary">
                <div class="m-auto">Number of Products: {{totalProducts}}</div>
            </div>
            <div class="card bg-dark">
                <div class="m-auto">djj</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Booking Categories
        </button>
        <ul class="dropdown-menu"
        >
          <li 
          *ngFor="let categoryItem of categoryItemList">
            <a [routerLink]="getRouterLink(categoryItem.code, categoryItem.name, categoryItem.id)" class="dropdown-item"
              >{{ categoryItem.name }}</a
            >
          </li>
        </ul>
      </div>
    <router-outlet></router-outlet>

</div>