<div>
    <app-navbar></app-navbar>
    <div class="d-flex align-items-center">
        <div class="d-flex flex-row justify-content-between w-100 text-white">
            <div class="card bg-secondary">
                <div class="m-auto">Number of Categories: {{categorySize}}</div>
            </div>
            <div class="card bg-primary">
                <div class="m-auto">djj</div>
            </div>
            <div class="card bg-dark">
                <div class="m-auto">djj</div>
            </div>
        </div>
    </div>

</div>