<div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="id">Payment Id</th>
                  <th class="card-id">Card Id</th>
                  <th class="payment-email">Email</th>
                  <th class="payment-date">Date</th>
                  <th class="payment-exp-month">Card Expiration Month</th>
                  <th class="payment-exp-year">Card Expiration Year</th>
                  <th class="payment-cart-items">Booking Id</th>
                  <th class="payment-total-cost">TotalCost</th>
                  <th class="payment-remove">Remove</th>
                </tr>
              </thead>
              <tbody *ngFor="let paymentItem of paymentItemList">
                <tr>
                  <td >
                    <p>{{ paymentItem.id }}</p>
                  </td>
                  <td >
                    <p>{{ paymentItem.cardId }}</p>
                  </td>
                  <td>
                    <p >{{ paymentItem.email }}</p>
                  </td>
                  <td>
                    <p >{{ paymentItem.paymentDate }}</p>
                  </td>
                  <td>
                    <p >{{ paymentItem.exp_month }}</p>
                  </td>
                  <td>
                    <p >{{ paymentItem.exp_year }}</p>
                  </td>
                  <td>
                    <select>
                      <option *ngFor="let cartItem of paymentItem.cartItems" [value]="cartItem.id">
                        {{ cartItem.bookingId }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <p>{{ paymentItem.totalCost }}</p>
                  </td>
                  <td>
                    <a
                      class="btn btn-dark height-auto btn-sm update-cart"
                      (click)="deletePayment(paymentItem.id)"
                      >X</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>