<div class="d-flex  justify-content-between align-items-center mx-2">
<h6 class="">Accommodation</h6>
<div class="d-flex">
    <input
      class="form-control"
      type="text"
      placeholder="Search for items..."
      aria-label="Search"
      #filter

    />
    <button class="btn btn-outline-dark" type="button" (click)="filterResults(filter.value)" >Search</button>
  </div>
</div>
<div class="row booking-category-container ">
  <div
    class="col-sm-3 item"
    data-price="1"
    *ngFor="let accommodationItem of filteredAccommodationList"
  >
    <div class="booking-category-card d-flex flex-column">
      <div>
        <div class="booking-title">
          {{ accommodationItem.location }}
          <span>$ {{ accommodationItem.price }}</span>
        </div>
        <div class="description d-flex justify-content-between align-items-center">
          <span>
            Room type: {{ accommodationItem.type }} 
          </span>
          <span>
            Capacity: {{ accommodationItem.capacity }}
          </span>
        </div>
      </div>
      <button class="btn btn-outline-dark mt-auto text-nowrap" (click)="addToCart(accommodationItem.id, accommodationItem.price)" *ngIf="!isUpdate">Add to Cart</button>
      <button class="btn btn-outline-dark mt-auto text-nowrap" [routerLink]="['/dashboard/update-accommodation/', accommodationItem.id]"  *ngIf="isUpdate">Update </button>
    </div>
  </div>
</div>
