<div>
  <app-header></app-header>
  <!-- Site-block-starts -->
  <div
    class="site-block-cover p-5 d-flex justify-content-center align-items-center"
  >
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="fs-6 text-light">
          Streamline Your Travel: Effortless Booking for Flights, Hotels, and
          Cars!
        </h2>
        <h1 class="text-light">Welcome To ExcursionEase</h1>
        <p>
          <a [routerLink]="['/store']" class="btn btn-dark px-3 py-2"
            >Book Now</a
          >
        </p>
      </div>
    </div>
  </div>
  <!-- Site-block-ends -->
  <!-- Business categories  -->

  <h1 class="text-center pt-2">Booking Categories</h1>
  <div class="row categories-bg p-2">
    <div class="col-12 col-md-6 col-lg-4 col-sm-6 mt-2">
      <div class="card">
        <img
          class="card-img-top"
          src="https://res.cloudinary.com/sepuckett86/image/upload/v1513176680/IMG_5837_xicdt5.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4>Accomodation</h4>
          <p class="card-text">
            Discover your perfect home away from home with our diverse range of
            accommodations. From cozy apartments to luxurious villas, we have
            options to suit every traveler's taste and budget.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-sm-6 mt-2">
      <div class="card">
        <img
          class="card-img-top"
          src="https://res.cloudinary.com/sepuckett86/image/upload/v1513176680/IMG_5837_xicdt5.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4>Hotel</h4>
          <p class="card-text">
            Rest and recharge in comfort with our curated selection of hotels.
            From boutique gems to renowned chains, each property offers
            exceptional service and amenities, promising a memorable stay for
            every traveler.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-sm-6 mt-2">
      <div class="card">
        <img
          class="card-img-top"
          src="https://res.cloudinary.com/sepuckett86/image/upload/v1513176680/IMG_5837_xicdt5.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4>Car Rental</h4>
          <p class="card-text">
            Hit the road in style with our hassle-free car rental services.
            Choose from a fleet of top-quality vehicles and enjoy the freedom to
            explore your destination at your own pace, without any
            transportation worries.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-sm-6 mt-2">
      <div class="card">
        <img
          class="card-img-top"
          src="https://res.cloudinary.com/sepuckett86/image/upload/v1513176680/IMG_5837_xicdt5.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4>Flight</h4>
          <p class="card-text">
            Take to the skies with ease by booking your flights through us.
            Whether you're jetting off for business or embarking on a leisurely
            adventure, our streamlined booking process ensures a smooth journey
            from takeoff to touchdown.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
