<div>
    <app-header></app-header>

    <!-- Mini-nav-starts  -->
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <a [routerLink]="['']" class="fw-bold text-decoration-none mini-nav-link">Home</a>
              <span class="mx-2 mb-0">/ Contact</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Mini-nav-ends  -->

      <!-- Contact-starts  -->
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="h3 mb-3 pt-3 text-black">Get In Touch</h2>
            </div>
            <div class="col-md-12">
              <form [formGroup]="applyForm" (submit)="submitApplication()">
                <div class="p-3 p-lg-5 border">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="c_fname" class="text-black"
                        >First Name <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="c_fname"
                        formControlName='firstName'
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="c_lname" class="text-black"
                        >Last Name <span class="text-danger">*</span></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="c_lname"
                        formControlName='lastName'
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_email" class="text-black"
                        >Email <span class="text-danger">*</span></label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="c_email"
                        formControlName='email'
                        placeholder=""
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_subject" class="text-black">Subject </label>
                      <input
                        type="text"
                        class="form-control"
                        id="c_subject"
                        formControlName='subject'
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_message" class="text-black">Message </label>
                      <textarea
                      formControlName='message'
                        id="c_message"
                        cols="30"
                        rows="7"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-flex justify-content-center p-3">
                      <input
                        type="submit"
                        class="btn btn-dark btn-lg"
                        value="Send Message"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact-ends  -->
    
    <app-footer></app-footer>
</div>