<div class="d-flex  justify-content-between align-items-center mx-2">
    <h6 class="">Car Rental</h6>
    <div class="d-flex">
        <input
          class="form-control"
          type="text"
          placeholder="Search for items..."
          
      #filter
          aria-label="Search"
        />
        <button class="btn btn-outline-dark" type="submit" (click)="filterResults(filter.value)" >Search</button>
      </div>
    </div>
<div class="row booking-category-container ">
  <div
    class="col-sm-3 item"
    data-price="1"
    *ngFor="let carRentalItem of filteredCarRentalList"
  >
    <div class="booking-category-card d-flex flex-column">
      <div>
        <div class="booking-title">
          <!-- {{ carRentalItem.carImage }} -->
          <span>$ {{ carRentalItem.pricePerDay }}</span>
        </div>
        <div class="description">
          {{ carRentalItem.carType }}
        </div>
      </div>
      <button class="btn btn-outline-dark mt-auto text-nowrap">
        <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
      </button>
    </div>
  </div>
</div>
