<div class="d-flex  justify-content-between align-items-center mx-2">
  <h6 class="">{{ categoryName }}</h6>
    <div class="d-flex">
        <input
          class="form-control"
          type="text"
          placeholder="Search for items..."

      #filter
          aria-label="Search"
        />
        <button class="btn btn-outline-dark" type="submit" (click)="filterResults(filter.value)" >Search</button>
      </div>
    </div>
<div class="row booking-category-container ">
  <div
    class="col-sm-3 item"
    data-price="1"
    *ngFor="let carRentalItem of filteredCarRentalList"
  >
    <div class="booking-category-card d-flex flex-column">
      <img src="{{ carRentalItem.carImage}}" class="image-fluid" alt="car-image">
      <div class="d-flex align-items-center justify-content-between">
        <div class="booking-title">
          <span>$ {{ carRentalItem.price }}</span>
        </div>
        <div class="description">
          {{ carRentalItem.carType }}
        </div>
      </div>
      <button class="btn btn-outline-dark mt-auto text-nowrap" (click)="addToCart(carRentalItem.id, carRentalItem.price)" *ngIf="!isDashboardPage"> Add to Cart</button>
      
      <button class="btn btn-outline-dark mt-auto text-nowrap" [routerLink]="['/dashboard/update-car-rental/', carRentalItem.id]"  *ngIf="isDashboardPage">Update </button>
    </div>
  </div>
</div>
