<!-- footer-starts -->
<footer class="site-footer p-2">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md-12 col-lg-8 mb-2 mb-lg-0">
        <div class="">
          <h3 class="mb-4">About Us</h3>
          <p class="text-justify">
            Welcome to ExcursionEase, where we believe in making travel planning a
            breeze. Founded with the mission to simplify the process of booking
            flights, hotels, and rental cars, we're dedicated to providing
            travelers with seamless experiences from start to finish..
            <a
                  [routerLink]="['/about']"
                  class="text-decoration-none mini-nav-link"
                  >more</a
                >
          </p>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="mb-2">
          <h3 class="mb-4">Contact Info</h3>

          <div class="row">
            <ul class="list-style-none">
              <li class="address">
                East Legon, Greate-Accra, Ghana..
                <a
                  [routerLink]="['/contact']"
                  class="text-decoration-none mini-nav-link"
                  >more</a
                >
              </li>
              <li class="phone">
                <span>Phone: </span>
                <a
                  href="tel://+233549163069"
                  class="text-decoration-none mini-nav-link"
                  >+233 54 916 069
                </a>
              </li>
              <li class="email">
                Email:
                <a
                  href="mailto:compsales&#64;gmail.com"
                  class="text-decoration-none mini-nav-link"
                  >excursion.ease&#64;gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-3 text-center">
      <div class="col-md-12">
        <p>
          Copyright &copy; 2023 All rights reserved by |
          <a [routerLink]="['']" class="text-decoration-none mini-nav-link">
            ExcursionEase</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- footer-ends  -->
