<div>
    <app-navbar></app-navbar>
    <!-- Mini-nav-starts  -->
    <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <a [routerLink]="['']" class="fw-bold text-decoration-none mini-nav-link">Home</a>
              <span class="mx-2 mb-0">/ Cart</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Mini-nav-ends  -->

      <!-- Cart-item-start  -->
      <div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <form class="col-md-12" method="post">
              <div class="site-blocks-table">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="product-thumbnail">Image</th>
                      <th class="product-name">Product</th>
                      <th class="product-price">Price</th>
                      <th class="product-quantity">Quantity</th>
                      <th class="product-total">Total</th>
                      <th class="product-remove">Remove</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let accommodationCartItem of accommodationCartItemList">
                    <tr>
                      <td class="product-thumbnail ">
                        
                      </td>
                      <td class="product-name">
                        <h2 class="h5 text-black">{{ accommodationCartItem.location }}</h2>
                      </td>
                      <td>GHS {{ accommodationCartItem.price }}</td>
                      <td>
                        <div class="input-group mb-3" style="max-width: 120px">
                          <div class="input-group-prepend">
                            <button
                              data-action="remove"
                              class="btn btn-outline-dark js-btn-minus update-cart"
                              type="button"
                              (click)="decreaseCartItem(accommodationCartItem.id, accommodationCartItem.price)"
                            >
                              &minus;
                            </button>
                          </div>
                          <input
                            type="text"
                            class="form-control text-center"
                            value="{{ accommodationCartItem.quantity }}"
                            placeholder=""
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            readonly
                          />
                          <div class="input-group-append">
                            <button
                              data-action="add"
                              class="btn btn-outline-dark js-btn-plus update-cart"
                              type="button"
                              (click)="increaseCartItem(accommodationCartItem.id, accommodationCartItem.price)"
                            >
                              &plus;
                            </button>
                          </div>
                        </div>
                      </td>
                      <td>GHS {{accommodationCartItem.totalPrice}}</td>
                      <td>
                        <a
                          class="btn btn-dark height-auto btn-sm update-cart"
                          (click)="removeCartItem(accommodationCartItem.id)"
                          >X</a
                        >
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngFor="let hotelItem of hotelCartItemList">
                    <tr>
                      <td class="product-thumbnail ">
                        
                      </td>
                      <td class="product-name">
                        <h2 class="h5 text-black">{{ hotelItem.hotelName }}</h2>
                      </td>
                      <td>GHS {{ hotelItem.price }}</td>
                      <td>
                        <div class="input-group mb-3" style="max-width: 120px">
                          <div class="input-group-prepend">
                            <button
                              data-action="remove"
                              class="btn btn-outline-dark js-btn-minus update-cart"
                              type="button"
                              (click)="decreaseCartItem(hotelItem.id, hotelItem.price)"
                            >
                              &minus;
                            </button>
                          </div>
                          <input
                            type="text"
                            class="form-control text-center"
                            value="{{ hotelItem.quantity }}"
                            placeholder=""
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            readonly
                          />
                          <div class="input-group-append">
                            <button
                              data-action="add"
                              class="btn btn-outline-dark js-btn-plus update-cart"
                              type="button"
                              (click)="increaseCartItem(hotelItem.id, hotelItem.price)"
                            >
                              &plus;
                            </button>
                          </div>
                        </div>
                      </td>
                      <td>GHS {{hotelItem.totalPrice}}</td>
                      <td>
                        <a
                          class="btn btn-dark height-auto btn-sm update-cart"
                          (click)="removeCartItem(hotelItem.id)"
                          >X</a
                        >
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngFor="let carRental of carRentalCartItemList">
                    <tr>
                      <td class="product-thumbnail ">
                        <img
                          src="{{ carRental.carImage }}"
                          alt="car-rental"
                          class="img-fluid col-md-6"
                        />
                      </td>
                      <td class="product-name">
                        <h2 class="h5 text-black">{{ carRental.carType }}</h2>
                      </td>
                      <td>GHS {{ carRental.price }}</td>
                      <td>
                        <div class="input-group mb-3" style="max-width: 120px">
                          <div class="input-group-prepend">
                            <button
                              data-action="remove"
                              class="btn btn-outline-dark js-btn-minus update-cart"
                              type="button"
                              (click)="decreaseCartItem(carRental.id, carRental.price)"
                            >
                              &minus;
                            </button>
                          </div>
                          <input
                            type="text"
                            class="form-control text-center"
                            value="{{ carRental.quantity }}"
                            placeholder=""
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            readonly
                          />
                          <div class="input-group-append">
                            <button
                              data-action="add"
                              class="btn btn-outline-dark js-btn-plus update-cart"
                              type="button"
                              (click)="increaseCartItem(carRental.id, carRental.price)"
                            >
                              &plus;
                            </button>
                          </div>
                        </div>
                      </td>
                      <td>GHS {{carRental.totalPrice}}</td>
                      <td>
                        <a
                          class="btn btn-dark height-auto btn-sm update-cart"
                          (click)="removeCartItem(carRental.id)"
                          >X</a
                        >
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngFor="let flightItem of flightCartItemList">
                    <tr>
                      <td class="product-thumbnail ">
                        
                      </td>
                      <td class="product-name">
                        <h2 class="h5 text-black">{{ flightItem.departureCity }} | {{ flightItem.destinationCity }}</h2>
                      </td>
                      <td>GHS {{ flightItem.price }}</td>
                      <td>
                        <div class="input-group mb-3" style="max-width: 120px">
                          <div class="input-group-prepend">
                            <button
                              data-action="remove"
                              class="btn btn-outline-dark js-btn-minus update-cart"
                              type="button"
                              (click)="decreaseCartItem(flightItem.id, flightItem.price)"
                            >
                              &minus;
                            </button>
                          </div>
                          <input
                            type="text"
                            class="form-control text-center"
                            value="{{ flightItem.quantity }}"
                            placeholder=""
                            aria-label="Example text with button addon"
                            aria-describedby="button-addon1"
                            readonly
                          />
                          <div class="input-group-append">
                            <button
                              data-action="add"
                              class="btn btn-outline-dark js-btn-plus update-cart"
                              type="button"
                              (click)="increaseCartItem(flightItem.id, flightItem.price)"
                            >
                              &plus;
                            </button>
                          </div>
                        </div>
                      </td>
                      <td>GHS {{flightItem.totalPrice}}</td>
                      <td>
                        <a
                          class="btn btn-dark height-auto btn-sm update-cart"
                          (click)="removeCartItem(flightItem.id)"
                          >X</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row mb-5">
                
                <div class="col-md-6">
                    <a [routerLink]="['/store/category/accommodation']" class="btn btn-outline-dark btn-md btn-block js-logo-clone"
                      >Continue Shopping</a
                    >
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-5">
              <div class="row justify-content-end">
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-12 text-center border-bottom mb-5">
                      <h3 class="text-black h4 text-uppercase">Cart Info.</h3>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <span class="text-black">Cart Items: </span>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-black"
                        >{{ totalCartItems }}</strong
                      >
                    </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <span class="text-black">Cart Total</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-black"
                        >GHS {{ totalCartItemsPrice }}</strong
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <a
                        [routerLink]="['/checkout']"
                        class="btn btn-dark btn-lg btn-block"
                        >Proceed To Checkout</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Cart-item-ends  -->
    <app-footer></app-footer>
</div>
