* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.mini-nav-link {
  color: rgb(146, 146, 146);
}

.mini-nav-link:hover {
  color: rgb(87, 87, 87);
}

.user-select-none {
  user-select: none;
}
a {
  text-decoration: none;
  color: unset;
}

.text-justify{
  text-align: justify;
}

