<div>
  <app-header></app-header>
  <!-- Mini-nav-starts  -->
  
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a
            [routerLink]="['']"
            class="fw-bold text-decoration-none mini-nav-link"
            >Home</a
          >
          <span class="mx-2 mb-0">/ About</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Mini-nav-ends  -->

  <!-- Site-block-starts -->
  <div
    class="site-block-cover p-5 d-flex justify-content-center align-items-center"
  >
    <div class="row">
      <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
        <div class="text-center">
          <h1 class="text-dark">About Us</h1>
          <h2 class="fs-6 text-dark">
            Welcome to ExcursionEase, where we believe in making travel planning
            a breeze. Founded with the mission to simplify the process of
            booking flights, hotels, and rental cars, we're dedicated to
            providing travelers with seamless experiences from start to finish
          </h2>
          <p>
            <a [routerLink]="['/store']" class="btn btn-dark px-3 py-2"
              >Book Now</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Site-block-ends -->

  <!-- mini-about-starts  -->
  <div class="p-3">
    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img
                  src="../../../assets/flight_png.png"
                  alt="Image placeholder"
                  class="img-fluid rounded"
                />
                <a
                  href="https://www.youtube.com/watch?v=G1FoU1p1YPI&pp=ygUNaG90ZWwgYm9va2luZw%3D%3D"
                  class="play-button popup-vimeo"
                  ><span class="icon-play"
                    ><img src="../../../assets/svg/play.svg" alt="play" /></span
                ></a>
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">How We Started</h2>
            </div>
            <p>
              At ExcursionEase, we understand that planning a trip can often be
              time-consuming and overwhelming. That's why we've curated a
              user-friendly platform that offers convenience, reliability, and
              competitive prices all in one place. Whether you're jet-setting
              for business or embarking on a leisurely getaway, our
              comprehensive range of services caters to every type of traveler.
            </p>
            <p>
              What sets us apart is our commitment to customer satisfaction. Our
              team of travel experts works tirelessly to ensure that your
              journey is smooth and stress-free. From personalized
              recommendations to round-the-clock support, we're here to assist
              you at every step of your travel adventure.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img
                  src="../../../assets/pool_magic.avif"
                  alt="Image placeholder"
                  class="img-fluid rounded"
                />
                <a
                  href="https://www.youtube.com/watch?v=lkJJE-gNZ-s&pp=ygUKY2FyIHJlbnRhbA%3D%3D"
                  class="play-button popup-vimeo"
                  ><span class="icon-play"
                    ><img src="../assets/svg/play.svg" alt="play" /></span
                ></a>
              </figure>
            </div>
          </div>
          <div class="col-md-5">
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">We Are Trusted Company</h2>
            </div>
            <p class="text-black">
              With ExcursionEase, you can book with confidence, knowing that you're
              getting the best deals without sacrificing quality. Join the
              millions of satisfied customers who have chosen us as their
              trusted travel companion, and let us help you create unforgettable
              memories wherever your wanderlust takes you.
            </p>
            <p class="text-black">
              This philosophy is reflected in the Company’s vision and mission
              statements, its core values and guiding principles.
            </p>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- mini-about-ends  -->

  <app-footer></app-footer>
</div>
