.site-block-cover {
  background-image: linear-gradient(
    -20deg,
    rgba(234, 245, 252, 0.65),
    rgba(238, 232, 235, 0.75)
  ),
  url("../../../assets/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 30px;
  height: 500px;

}
.block-16 figure {
  position: relative;
}
.block-16 figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 50%;
  border: none;
}
.block-16 figure .play-button:hover {
  opacity: 1;
}
.block-16 figure .play-button > span {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
}

@media (min-width: 576px) {
  .site-block-cover {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .site-block-cover {
    height: 400px;
  }
}


